/*
    Theme Name: Erotic Theme
    Theme URI: http://erotictouch.shop/
    Author: Pranay
    Author URI: http://facebook.com/pranay2g
*/
h1,h2,h3,h4,h5,h6{
    line-height: 1;
    margin: 0 !important;
    padding: 0 !important;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    transition: 0.3s;
    margin: 0 !important;
    padding: 0 !important;
}
a:hover{
    text-decoration: none;
}
p{
    margin: 0 !important;
    padding: 0 !important;
}

img{
    width: 100%;
    height: auto
}

header .nav-link {
    margin: 5px 16px !important;
    padding: 5px  13px 2px 13px !important;
    border-radius: 10px;
    font-family: BebasNeue;
    font-size: 30px;
    letter-spacing: 3px;
    color: #ddd !important;
}

header .nav-link:hover, header .nav-link.active {
    background: #9c0505;
}
header .nav-link:hover, header .current_page_item a {
    background: #9c0505;
}
.b-radius-0{
    border-radius: 0 !important
}
.full-w-btn{
   font-size: 30px;
   font-weight: bold;
   color: #fece08;
   text-transform: uppercase;
   vertical-align: middle;
   padding: 10px !important;
   line-height: 76px;
}
.full-w-btn span{
    font-size: 50px;
    color: #ffffff;
    line-height: 70px;
    text-decoration: none;
    vertical-align: top;
}
.body-text {
    font-size: 20px;
    color: #000000;
    line-height: 1.5;
}
.bg-area {
    padding: 0 70px 160px 70px;
    background: #eee;
    background-image: url(assets/images/textured_back.jpg);
    background-size: cover;
    background-position: bottom;
}
.video-area-bg {
    height: 600px;
    background-image: url(assets/images/home_video.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.video-area-bg a {
    position: absolute;
    top: 34%;
    left: 48%;
    font-size: 77px;
}
.biggest-text strong {
    font-size: 135px;
}
.section-devider {
    width: 100%;
    height: 25px;
    background: #000;
}
.theme-font{
    font-family: BebasNeue;    
}
.biggest-text{    
    text-align: center;    
    font-size: 100px;    
    margin-top: 30px !important;    
    line-height: 0.8;
}
ul.service-list img {
    width: 40px;
    margin-right: 8px;
    margin-bottom: 13px;
    float: left;
}

ul.service-list {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}

ul.service-list li {float: left;margin: 3px 0;}

ul.service-list li span {
    display: inline-block;
    float: left;
    width: calc(100% - 48px);
    padding-top: 10px;
    color: #000;
}
.red-big-btn {
    width: 400px;
    margin-left: 36px;
    float: left;
}

img.mc-secure {
    width: 100px;
    margin: 28px 40px;
}
.absulate-big-text {
    position: absolute;
    font-size: 114px;
    font-family: BebasNeue;
    text-align: center;
    display: block;
    width: 100%;
    color: #fff;
    padding-top: 17px;
}
.relative{
    position: relative;
}
h1.extra-big-text {
    font-family: BebasNeue;
    font-size: 110px;
    text-align: center;
}

h1.extra-big-text span {
    display: block;
    font-size: 157px;
    letter-spacing: 10px;
    font-weight: bold;
}

.content {
    margin-top: -100px;
}
h1.red-big-text {
    font-size: 140px;
    line-height: 130px;
    color: #bf0000;
    margin: 0;
    padding: 0;
    font-family: BebasNeue;
}
.li-border li {
    padding: 7px 0;
    position: relative;
}

.li-border li:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 300px;
    background: #d0d0d0;
    left: 68px;
    bottom: 0;
    border-radius: 50%;
}
h1.lower-big-font {
    font-family: BebasNeue;
    font-weight: bold;
    font-size: 78px;
    text-align: center;
    line-height: 78px; 
    z-index: 1;
    position: relative;
}
.award img {
    margin-top: -70px;
    z-index: -17;
}
img.coin {
    margin-top: -50px;
}
.price-area {
    border: 15px solid #000;
    display: flex;
    margin: 30px 0;
}

.single-price {
    width: 33%;
    padding: 32px;
    display: inline-table;
    text-align: center;
}

.pricing-content h1 {
    font-weight: bold;
    font-size: 85px;
    font-family: BebasNeue;
    padding: 14px 0 0 0 !important;
}

.pricing-content h1 span.offer {
    color: #c7c7c7;
    display: block;
    font-size: 45px;
    font-weight: normal;
    padding-top: 13px;
}

.pricing-content h1 span.list-price {
    display: block;
    font-weight: normal;
    font-size: 38px;
}
footer a.nav-link {
    font-size: 20px;
    padding: 0 12px !important;
    display: inline-block;
    font-family: BebasNeue;
}
footer {
    background: #b2b2b2;
    padding: 50px 0;
}
p.footer-small-desc {
    font-size: 14px;
    padding: 30px 0 !important;
}
p.copy-link {
    font-size: 15px;
    padding: 3px 0 !important;
}
.navbar-light .navbar-toggler {
    background: #fff;
    margin: 12px 0;
}

/*pranay code*/
.navbar-light .navbar-nav .current_page_item > .nav-link, .navbar-light .navbar-nav .current_page_item, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: rgba(0,0,0,.9);
}

/*shop page style*/
.product-container {
    margin: auto;
}
    /*
    background-image: url(assets/images/bg-image.png);
    background-color: #ECEBF0;
    */
.product-container .product {
    margin: 20px 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid #a4a4a4;
    border-radius: 10px;
    overflow: hidden;
    /*box-shadow: 0 0 19px 1px #0000004d;*/
    transition: .5s;
    border-radius: 6px;
    padding: 20px;
}
/*.product-container .product:hover {
    box-shadow: 0 0 19px 1px #00000090;
}*/
.greentick-img img {
    width: 30px;
    height: 30px;
}
.product .text-custom {
    color: #074BA8;
}
.goldentick {
    width: 20px;
    height: 20px;
}
.minus-15 {
    margin-left: -15px;
}

/*checkout page style*/
#ship-to-different-address {
    margin-bottom: 8px;
    margin-left: 20px;
    display: block;
    height: 20px;
    margin-top: 12px;
    position: relative;
}
#ship-to-different-address-checkbox {
    margin-top: 1px;
}
.woo-title {
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 14px;
}
.woocommerce {
    max-width: 960px;
    margin: auto;
}
/*cart page*/
.woocommerce-error::before, .woocommerce-message::before {
    font-family: WooCommerce;
    top: 3px;
    left: -4px;
}
.wc-proceed-to-checkout {
    margin-bottom: 40px;
}
.woocommerce input[type=text] {
    min-height: 36px;
    min-width: 150px;
}
#coupon_code {
    min-height: 36px;
    min-width: 150px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding-left: 10px;
}
.checkout-button.button {
    padding: 10px 5px !important;
}
/*contact page style*/
.contac-top {
    background-image: url(assets/images/con-top-bg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.content-main {
    box-shadow: inset 0px 9px 30px 2px rgba(51,51,51,0.5);
    padding: 40px 0;
}
.contact-container {
    background-image: url(assets/images/contact-bg.jpg);
    background-size: 100% auto;
}
.contact-form {
    background-color: rgba(3,3,3,.3);
    border-radius: 10px;
}
.contact-form tbody {
    text-align: center;
}
.contact-form tr {
    padding: 10px 0;
    display: inline-block;
}.contact-form input, .contact-form input[type="email"] {
    height: 27px;
    min-height: 27px;
}
.contact-form input,.contact-form input[type=email], .contact-form textarea {
    border: 1px solid transparent;
    border-radius: 5px;
    max-width: 350px;
    width: 100%;
    padding: 0;
    margin: 0;
}
.contact-form textarea {
    max-height: 200px;
}
.contac-table td {
    min-width: 100px;
    color: #ffffff;
    vertical-align: top;
}
.contac-table td:first-child {
    text-align: left;
}
.submit-td  {
    width: 100%;
    text-align: right;
}
/*globgal style*/
.page-container {
    max-width: 960px;
    margin: auto;
}
.woocommerce img {
    width: auto;
    height: auto;
}
.font-BebasNeue {
    font-family: BebasNeue;
}
.call-text {
    font-family: BebasNeue;
    font-weight: 900;
    font-size: 52px;
}
.number a {
    color: #646464;
    font-family: BebasNeue;
    font-weight: 900;
    font-size: 52px;
}


.promo h2 p{
    text-align:center!important;
}





















/*katsat*/
/*styling woocommerce checkout page*/
.maxslim-woocart {
    padding: 10px;
    background: #ffffff;
    font-family: webfonts-regular;
}
.maxslim-woocart h3 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 17px;
}
.woocommerce-billing-fields__field-wrapper p, .woocommerce-shipping-fields__field-wrapper p {
    /*background: #EFEFEF;*/
    overflow: hidden;
    padding: 10px 5px !important;
    display: block;
}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
    width: 49%;
    overflow: visible;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    min-width: 150px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    text-indent: 5px;
    overflow: hidden;
    height: 37px;
}
input[type="select"],input[type="tel"],input[type="email"]   {
    min-width: 150px;
    min-height: 35px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    text-indent: 5px;
}
#billing_address_2 , #shipping_address_2{
    float: right;
}
/*textarea*/
#order_comments {
    height: 100px;
    width: 100%;
    border-radius: 4px;
    text-indent: 10px;
    padding-top: 10px;
}

.maxslim-woocart form input {
    font-family: "webfonts-regular" !important;
    font-size: 13px;
}

/*starting again */
.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
    margin-bottom: 0;
}
#ship-to-different-address {
    margin-bottom: 8px;
}

.col-md-6.order-details .woocommerce-checkout-review-order {
    background-color: #ffffff;
    padding: 10px 4px;
    border: 1px solid lightgray;
    color: #242424;
}


.maxslim-woocart-container {
    color: #242424 !important;
}
.maxslim-woocart-container label {
    font-size: 12px;
}
#customer_details {
    /*background: #167DC7;*/
}

/*form input style layout*/
#billing_first_name_field, #billing_last_name_field , #shipping_first_name_field, #shipping_last_name_field {
    width: 100%;
}
.woocommerce-billing-fields__field-wrapper label {
    width: 25%;
    float: left;
    overflow: hidden;
}
.woocommerce-billing-fields__field-wrapper input {
    width: 75%;
    float: left;
    overflow: hidden;
}
/*shiping top*/
.shiping-top {
    background: white;
    padding: 10px 5px;
    margin-top: 10px;
    vertical-align: middle;
}
.shiping-top .col-md-6:first-child{
    text-align: right;
}
.shiping-top .col-md-6:first-child img {
    height: 50px;
}
.shiping-top img {
    width: 100px;
    height: auto;
}

.select2-selection.select2-selection--single ,.select2-selection.select2-selection--single .select2-selection__rendered {
    height: 33px;
    overflow: hidden;
    font-family: "webfonts-regular" !important;
    font-size: 13px;
}
#order_comments_field label {
    color: #ffffff;
}
.shop-page-titles {
    border-bottom: 1px solid #167DC7;
    text-transform: uppercase;
    font-size: 34px; 
    font-family: 'webfonts-regular';
}
.maxslim-product .title h2 {
    font-size: 26px;
    color: #ffffff;
}
.products {
    font-family: 'webfonts-regular';
}



.woocommerce form .form-row label {
    line-height: 2;
    margin: 2px 0;
    padding: 0 0 0 5px;
    width: 23%;
    float: left;
    overflow: hidden;
    vertical-align: middle;
}
.form-row input {
    width: 77% !important;
    float: left;
    overflow: hidden;
    max-width: unset;
}
.select2.select2-container {
    width: 77% !important;
    float: left;
}

/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

/*erotic adjastment*/
#ship-to-different-address span {
    font-size: 20px;
    margin-top: 20px;
}
.woocommerce-shipping-fields {
    padding: 20px;
    border: 1px solid #cccccc;
}
.form-row.form-row-wide.create-account {
    margin: 20px 0 !important;
    border: 1px solid #cccccc;
    padding: 10px !important;
    text-transform: uppercase;
}
#billing_state_field label {
    color: #000000;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    border: 1px solid #cccccc;
    text-indent: 6px;
    font-family: tahoma !important;
    font-weight: normal;
    color: #6f6969;
    font-size: 15px;
    text-transform: capitalize;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 36px;
}
.select2-container--default .select2-selection--single {
    border-radius: 0px !important;
    height: 35px !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
}
.select2.select2-container.select2-container--default.select2-container--below.select2-container--open .select2-container--default .select2-selection--single {
    border-top: 1px solid #cccccc !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    border-radius: 0 !important;
}
.select2-container--open .select2-dropdown--above {
    border-bottom: 1px solid #cccccc !important;
}
.select2-search.select2-search--dropdown {
    border-top: 1px solid #cccccc;
}
.shiping-h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px 0 !important;
    font-family: tahoma;
}
#order_comments {
    border: 1px solid #cccccc;
}
#customer_details {
    padding-bottom: 20px;
    /*border: 1px solid #cccccc;*/
}
.woocommerce-billing-fields__field-wrapper {
    border: 1px solid #cccccc;
    padding: 20px;
}
#order_comments_field {
    display: block;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
    width: 100%;
}
#mailchimp_woocommerce_newsletter {
    width: auto !important;
    margin-top: 5px;
}
.woocommerce-additional-fields__field-wrapper label {
    width: 100% !important;
}
.woocommerce-billing-fields h3 {
    font-wi: ;
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px 0 !important;
    font-family: tahoma;
}
/*big image try it*/
.col-md-12.p-0.m-0.try-it .hov {
    content: '';
    width: 400px;
    height: 100px;
    position: absolute;
    right: 91px;
    bottom: 94px;
}
.col-md-12.p-0.m-0.try-it .hov:hover {
    cursor: pointer;
}



.service-list li {
    width: 48%;
    overflow: hidden;
    margin-left: 2%;
}

/*sajid vai's code*/
.promo .card-img-top{
    width: 220px;
    margin:auto;
}
.promo .card{
    text-align:center
}

.promo{
    margin-bottom:50px;
}
.card-body{
padding: .80rem;
box-shadow: -2px 0 ;
}
.single_btl img{
    width:80%;
        margin-top:35px
}

/*New shopt page style*/
.row.products.columns-4 {
    width: 100%;
}
.w-auto {
    width: auto;
}
.title.text-center {
    font-family: 'Open Sans', Tahoma, Arial, Verdana, Helvetica, sans-serif;
    text-transform: uppercase;
}
.title.text-center h1 {
    font-size: 22px;
    font-weight: bold;
    color: #004d6e;
}
.title.text-center b {
    display: block;
    font-size: 45px;
    font-family: 'Open Sans', Tahoma, Arial, Verdana, Helvetica, sans-serif;
}
.bg-gray {
    background: linear-gradient(#fefefe, #e7e7e7);
}
.tick ul li {
    font-weight: 600;
    font-family: 'Open Sans', Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-size: 15px;
}
.only {
    font-family: 'Open Sans', Tahoma, Arial, Verdana, Helvetica, sans-serif;
    font-weight: 600;
}
.price-dolar {
    line-height: 1em;
    font-family: 'Open Sans', Tahoma, Arial, Verdana, Helvetica, sans-serif;
}
.price del {
    color: #ee2428;
}